    /* -------------------------------------------------
    ============ PLACE YOUR CUSTOM CSS HERE ============
    ------------------------------------------------- */
.top_logo {
    position: relative;
    float: left;
    width:  130px;
    height: 130px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
}